<% if logged_in? %>

<h1>Sube una foto!</h1>
	<%= form_for :foto, :url => 'foto/create' do |f| %>

      <%= f.label :TITULO %>
      <%= f.text_field :TITULO , class: 'form-control'%>
<br>

      Imagen: <%= f.file_field :imagen %>
<br>
      <%= f.label :DESCRIPCION %>
      <%= f.text_field :DESCRIPCION , class: 'form-control'%>
      <%f.number_field :ID_USUARIO, value: current_user.ID_USUARIO %>
      <br>
      <%= f.submit "Subir", class: "btn btn-primary" %>
    <% end %>

<%else%>


<%end%>
