<table class="table table-striped table-bordered table-hover table-condensed">
	<tr>
			<th>Id_usuario</th>
			<th>Valor anterior de la tabla </th>
			<th>Valor nuevo de la tabla </th>
			<th>Fecha</th>
			<th>Accion realizada</th>
		</tr>
		<% @auditoria.each do |auditoria| %>
		<tr>
			<td><%= auditoria.ID_USUARIO %> </td>
			<td><%= auditoria.OLD %> </td>
			<td><%= auditoria.NEW %> </td>
			<td><%= auditoria.TS %> </td>
			<td><%= auditoria.ACCION %> </td>
		</tr>
	<% end %>
</table>
