<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @auditorium.usuario_id %>
</p>

<p>
  <strong>Accion:</strong>
  <%= @auditorium.accion %>
</p>

<p>
  <strong>Old:</strong>
  <%= @auditorium.old %>
</p>

<p>
  <strong>New:</strong>
  <%= @auditorium.new %>
</p>

<p>
  <strong>Ts:</strong>
  <%= @auditorium.ts %>
</p>


<%= link_to 'Volver', auditoria_path , class: "btn btn-lg btn-primary"%>
