
<h1>Todas las fotos</h1>

<table align="center" class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Imagen</th>
      <th>Usuario</th>

      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @fotos.each do |foto| %>
      <tr>
        <td><strong><%= foto.titulo %></strong></td>
        <td><%= image_tag foto.imagen.url(:peque)  %>  </td>
        <strong><td><%= link_to foto.usuario.nick , usuario_path(foto.usuario)%>  </td></strong>
        <td><%= link_to 'Ver', foto %></td>

        <%if current_usuario != nil%>
          <%if current_usuario.id == foto.usuario_id or current_usuario.tipo_usuario == 2%>
            <td><%= link_to 'Editar', edit_foto_path(foto) %></td>
            <td><%= link_to 'Eliminar', foto, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
          <%end%>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if current_usuario != nil and current_usuario.tipo_usuario != 2%>

  <%= link_to 'Sube tu foto', new_foto_path, class: "btn btn-lg btn-primary" %>

<%end%>
<%= link_to 'Inicio' , root_path, class: "btn btn-lg btn-primary"%>
