<% if logged_in? %>

<h1>Comentar</h1>
  <%= form_for([@foto,@comentario]), :url => 'comentario/create' do |f| %>

      <%= f.label :COMENTARIO %>
      <%= f.text_field :COMENTARIO , class: 'form-control'%>
      <%= f.label :PUNTAJE %>
      <%= f.numb_field :PUNTAJE, class: 'form-control', min: 0 , max: 5%>

      <br>
      <%= f.submit "Subir", class: "btn btn-primary" %>
    <% end %>

<%else%>


<%end%>
